body{
    margin:0;
    background-color: black;
    overscroll-behavior-y: contain;
}

.wrapper{
    display: grid;
}

.sounds, .keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
  }

.keys{
    pointer-events: none;
}
.sound{
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

.key{
    pointer-events: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.key::before{
    content:'';
    width: 100%;
    padding-top: 100%;
}

span{
    pointer-events: none;
    position: absolute;
}

.sounds, .keys{
    grid-area: 1 / 1;
}

.key span{
    font-size: 500%;
    font-family: monospace;
    font-weight: 900;
}

.sound span{
    font-size: 150%;
    font-family: monospace;
    font-weight: 900;
}

@media (max-aspect-ratio: 3/4){
    .sounds, .keys{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-aspect-ratio: 4/3){
    .sounds, .keys{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

.boom{
    background-color: rgb(172, 48, 17);
}
.clap{
    background-color: rgb(172, 87, 17);
}
.hihat{
    background-color: rgb(162, 172, 17);
}
.kick{
    background-color: rgb(30, 172, 17);
}
.openhat{
    background-color: rgb(17, 172, 172);
}
.ride{
    background-color: rgb(17, 40, 172);
}
.snare{
    background-color: rgb(102, 17, 172);
}
.tink{
    background-color: rgb(172, 17, 172);
}
.tom{
    background-color: rgb(172, 17, 89);
}

.hover{
    background-color:rgb(235, 235, 235);
}